# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://api.doniyortest.uz
NEXT_PUBLIC_API_VERSION=/api/v1
NEXT_PUBLIC_LOGIN_ENDPOINT=/user/auth/Login/
NEXT_PUBLIC_REGISTER_ENDPOINT=/user/auth/Register/
NEXT_PUBLIC_REFRESH_ENDPOINT=/user/auth/refresh/
NEXT_PUBLIC_PROFILE_ENDPOINT=/user/profile/
NEXT_PUBLIC_CSRF_TOKEN=gpL2EIRcpn0pb75ICBof30SI7P4ZmeP5jNWT1AB16MutJurk9eKzW4HEPgijGVh1
NEXT_PUBLIC_PAYMENT_LINK=https://your-payment-link.com
